<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputCsvFolderName" value="" />
    <add key="InputCsvEncoding" value="Shift_JIS" />
    <add key="OutputXmlFolderName" value="" />
    <add key="OutputXmlFileName" value="XmlFile.xml" />
    <add key="OutputXmlEncoding" value="UTF-8" />
  </appSettings>
</configuration>