<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputCsvFolderName" value="C:\入力CSVが置かれるフォルダ名" />
    <add key="InputCsvEncoding" value="Shift_JIS" />
    <add key="InputCsvSkipFirstRow" value="No" />
    <add key="OutputXmlFolderName" value="C:\出力XMLを作成するフォルダ名" />
    <add key="OutputXmlFileName" value="XmlFile.xml" />
    <add key="OutputXmlEncoding" value="UTF-8" />
  </appSettings>
</configuration>